h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}
.section-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

figcaption{
    font-weight: bold;
    font-size: 20px;
}